<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TwitterConsumerKey" value="NgdCZRR4H9CpX11e3YsOzQ" />
    <add key="TwitterConsumerSecret" value="PGWGvCHLhTP1WEp1ioIOpakwwB1fL3Gagp14khmN1lE" />
    <add key="TwitterAccessToken" value="26187182-nwSwCobtrCopGWcXwymzddTmNEzWDckZM9Sv1AZI" />
    <add key="TwitterAccessTokenSecret" value="qTR76kABYIV2cdL98lHmTLWrtVPzgeFqmvjNeNnHNXE" />

    <add key="LinkedInConsumerKey" value="euxq0ly6paev" />
    <add key="LinkedInConsumerSecret" value="boMb1TvGuQ72hVYW" />
    <add key="LinkedInAccessToken" value="9598bca0-b267-4f3e-a7c5-a7adf2d22bcb" />
    <add key="LinkedInAccessTokenSecret" value="1ac32278-0cf5-45ae-9bc8-eedde65024f5" />

  </appSettings>

  <connectionStrings>
    <add name="ApplicationServicesOLD" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="ApplicationServicesOLD2" connectionString="Data Source=DEVELOPMENT;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--LAPTOP-->
    <add name="xTMD.POCOQueryRepository.TMDContext" connectionString="Data Source=glyn-laptop\SQLEXPRESS;Initial Catalog=TMD;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="CustomApplicationServices" connectionString="Data Source=DEVELOPMENT;Initial Catalog=CC;Integrated Security=True;Uid=cc;Pwd=ccpassword;" providerName="System.Data.SqlClient" />
    <!--IT BUILDER-->
    <add name="TMD.POCOQueryRepository.TMDContext" connectionString="Data Source=94.126.43.196;Initial Catalog=TMD;Integrated Security=False;User Id=sa;Password=Her0sandwich=sql" providerName="System.Data.SqlClient" />

  <add name="TMDEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GLYN-LAPTOP\SQLEXPRESS;initial catalog=TMD;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <!--
  Data Source=94.126.43.196;Integrated Security=False;User ID=sa
  -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
